---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey there!</h1>
		<p class="mb-4">
			Hi, I'm Thales Gelinger a lead developer very interested in a bunch of things actually, i have
			a bacharel degree in Electrical Engineer, i'm interested from low level development with
			Eletronic boards, to servers using more low level languages such as rust, to mobile
			development hybrid or native, this site i used to post some thoughts in some those subjects,
			and also show a little bit of what i've been doing recently.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
